body{
  background-color: #e3f3bf;
  background-image: url(https://st.depositphotos.com/3272603/5108/v/450/depositphotos_51081335-stock-illustration-medical-and-health-background-pattern.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100vh;
  background-size: 140% 140%;
}
.topo h1 {
  padding-left: 40px;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-style: Helvetica
}
.paragrafos {
  background-color: #80D6CE;
  padding: 70px 40px;
}
.paragrafos p {
  margin-bottom: 15px;
  font-size: 1.1rem;
  line-height: 1.5;
}
.lista {
  background-color: #80D6CE;
  padding: 5px 0px 100px 30px;
}
.interactive-list li {
  position: relative;
  padding-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.1rem;
}


.interactive-list li:last-child::after {
  display: none;
}

.interactive-list li:hover {
  color: #0077ff;
  transform: translateX(5px);
}